<!-- Footer-->
<footer style="margin-top: -300px; padding-top: 300px; background: #2d2d2d;">
    <div class="container mt-2 pt-3">
        <hr class="hr-light">
        <div class="row align-items-center py-4">
            <div class="col-sm-6 py-3">
                <div class="fs-xs text-light opacity-50 text-center text-md-start">© All rights reserved. Made by Discovery Systems Pos</div>
            </div>
            <div class="col-sm-6 pt-3 pb-2 text-center text-sm-end">
                <a class="btn-social bs-light bs-facebook ms-2 mb-2" href="https://www.facebook.com/dsposbucaramanga" target="_blank">
                    <i class="ci-facebook"></i>
                </a>
            </div>
        </div>
    </div>
</footer>
<!-- Toolbar for handheld devices (Single brand store)-->